body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --small-text: Inter;

  /* font sizes */
  --small-text-size: 16px;
  --subheading-size: 24px;
  --font-size-lgi: 19px;
  --body-text-size: 20px;
  --title-size: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #454545;
  --color-darkslategray-200: #333;
  --color-black: #000;
  --color-gainsboro: #e6e6e6;
  --color-gray: #828282;

  /* Gaps */
  --gap-9xl: 28px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-69xl: 88px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-15xl: 34px;
  --padding-61xl: 80px;
  --padding-29xl: 48px;
  --padding-21xl: 40px;
  --padding-9xs: 4px;
  --padding-3xl: 22px;
  --padding-sm: 14px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}